<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-GB" class="no-js not-ie8"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <!--[if gt IE 8]><!--> <link href="{{assets}}/css/main.css" media="all" rel="stylesheet" type="text/css"><!--<![endif]-->
  <!--[if lte IE 8]><link href="{{assets}}/css/main-ie8.css" media="all" rel="stylesheet" type="text/css"><![endif]-->

  <!--[if lte IE 8]>
    <link href="{{assets}}/css/fonts-ie8.css" media="all" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <link href="{{assets}}/css/fonts.css" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
  <link rel="shortcut icon" href="{{assets}}/img/favicon.ico" type="image/x-icon">
  <link href="{{assets}}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script>
    var html = document.documentElement;
    html.className += " js-enabled";

    if (!('open' in document.createElement('details'))) {
      document.documentElement.className += ' no-details';
    }
  </script>
  <!--[if lte IE 8]>
    <script>
      var head = document.getElementsByTagName('head')[0],
      style = document.createElement('style');

      style.type = 'text/css';
      style.styleSheet.cssText = ':before,:after{content:none !important';
      head.appendChild(style);
      setTimeout(function(){
          head.removeChild(style);
      }, 0);
    </script>
  <![endif]-->
  <script src="{{assets}}/js/vendor/modernizr-custom.js"></script>
  <script src="{{assets}}/js/vendor/jquery-1.11.1.min.js"></script>
  <script src="{{assets}}/js/vendor/jstorage.js"></script>
</head>
<body>
  <!--[if lte IE 9]>
    <div class="panel-ie">
      <img src="{{assets}}/img/logo-ie.png" height="50" alt="Not optimised for IE 9 and lower" align="left">
      <p>It looks like you're using a version of Internet Explorer that this prototype has not tested with - For the best experience, please switch to a modern browser.</p>
    </div>
  <![endif]-->
  {{> header }}
  <div class="content-container">
    {{> banner }}
    <main role="main" id="main">
      {{> body }}
    </main>
  </div>
  {{> footer }}

  <script src="{{assets}}/js/vendor/fastclick.js"></script>
  <script src="{{assets}}/js/vendor/chosen.jquery.js"></script>
  <script src="{{assets}}/js/scripts.js"></script>
  <!-- Prototype specific scripts -->
  <script src="{{assets}}/js/vendor/jquery.cookie.js"></script>
  <script src="{{assets}}/js/prototype.js"></script>
</body>
</html>




